html {
    overscroll-behavior: none;
    text-align: center;
}

body {
    background: radial-gradient(#292524, black);
    background-attachment: fixed;
    color: white;
    font-family: Verdana;
}

h1 {
    margin: 20px;
    font-weight: bold;
}

.ConnectToAP {
    position: absolute;
    top: 10px;
    left: 10px;
}

.DownloadAPWorld {
    position: absolute;
    top: 10px;
    right: 10px;
}

.ButtonAP {
    color: black;
    border: 3px solid black;
    background-color: darkgray;
    margin-left: 5px;
    margin-bottom: 5px;
}

.ButtonAP:focus,
.ButtonAP:hover {
    color: white;
    border: 3px solid white;
    background-color: dimgray;
    box-shadow: none;
}

.ButtonAP:disabled {
    color: black;
    border: 3px solid black;
    background-color: gray;
    margin-left: 5px;
    margin-bottom: 5px;
}

.form-control:focus {
    border: transparent;
    box-shadow: none;
    background-color: lightgray;
}

.InputAPConnect {
    width: 400px;
}

.APTextClient {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 400px;
}

.APTextClientText {
    text-align: left;
    display: block;
    width: 400px;
    max-height: 825px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 6px;
    padding-right: 6px;
    background-color: rgba(0, 0, 0, 0.25);
}

.APTextClientInteractives {
    display: flex;
}

.APMessage {
    width: 100%;
    white-space: pre-wrap;
    text-align: left;
}

.APItemUsefulProgression {
    color: rgb(255, 223, 0);
}

.APItemProgression {
    color: rgb(168, 147, 228);
}

.APItemUseful {
    color: rgb(98, 122, 198);
}

.APItemTrap {
    color: rgb(211, 113, 102);
}

.NPuzzleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    height: 80vh;
}

.DemoPuzzleButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.PuzzleUI {
    padding: 10px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-gap: 10px;
}

.PuzzleUI div {
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.PuzzleUI div:hover {
    background-color: rgb(25, 25, 25);
}

.PuzzleUI .PuzzleBlank,
.PuzzleUI .PuzzleBlank:hover {
    background-color: transparent;
    cursor: default;
}

.PuzzleCellImage {
    max-width: 50%;
    max-height: 50%;
    object-fit: contain;
    pointer-events: none;
}

.Size-9 {
    height: 165px;
    width: 165px;
    font-size: 300%;
}

.Size-16 {
    height: 125px;
    width: 125px;
    font-size: 275%;
}

.Size-25 {
    height: 100px;
    width: 100px;
    font-size: 250%;
}

.Size-36 {
    height: 85px;
    width: 85px;
    font-size: 225%;
}

.Size-49 {
    height: 70px;
    width: 70px;
    font-size: 200%;
}

.Size-64 {
    height: 60px;
    width: 60px;
    font-size: 190%;
}

.Size-81 {
    height: 55px;
    width: 55px;
    font-size: 180%;
}

.Size-100 {
    height: 50px;
    width: 50px;
    font-size: 170%;
}